body{
    background-color: antiquewhite;
}

@keyframes bounce{
    0%{transform: translate3d(0,0,0);}
    25%{transform: translate3d(40px,0,0);}
    33.33%{background-color: goldenrod;}
    50%{transform: translate3d(640px,640px,640px);}
    66.66%{background-color: aquamarine;}
}

@keyframes bounce2{
    0%{transform: translate3d(0,0,0);}
    25%{transform: translate3d(640px,0,0);}
    33.33%{border-color: goldenrod;}
    50%{transform: translate3d(640px,640px,640px);}
    66.66%{border-color: aquamarine;}
}

.ball{
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid lightcoral;
    animation: bounce2 9s reverse;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.ball2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: coral;
    animation: bounce 8s linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.ball3{
    width: 80px;
    height: 80px;
    border-radius: 10%;
    background-color: coral;
    animation: bounce 7s linear;
    animation-direction: reverse;
    animation-iteration-count: infinite;
}

.name{
    animation: bounce 7s linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}