$body-color: bisque;
$transform-10-color: red;
$ball-background-color: hotpink;
$ball-border-color: hotpink;
$x: #fff;

body{
    background-color: $body-color;
}

@keyframes bounce {
    1%{transform: translate3d(100px,0,0);}
    10%{transform: rotateX(4000deg); background-color: $transform-10-color;}

    
}
.ball{
    border-radius: 50%;
    background-color: $ball-background-color;
    border-color: $ball-border-color;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid transparent;
    width: 0;
    height: 0;

}

.ball:hover{
    animation: bounce 9s ease-in-out 0.5s infinite alternate;
}