.row{
    display: flex;
    align-items: stretch;
    border: 1px solid white
}

.row .label{
    flex: 0, 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}

.row .container{
    flex:1;
    display: flex;
    justify-content: flex-start;
}

.row .dish{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pasta{
    background-color: pink;
}

.pizza{
    background-color: white;
}

.burrito{
    background-color: greenyellow;
}

body{
    background-color: cyan;
}